.card-img {
  width: 100%;
  height: 100%;
  border-radius: 1.5rem;
}
.card-container {
  display: flex;
  background-color: var(--secondary);
  max-width: 90%;
  height: 100%;
  margin: auto;
  padding-left: 2.5rem; /* px-10 */
  padding-right: 2.5rem; /* px-10 */
  gap: 5rem; /* gap-20 */
  border-radius: 1.5rem; /* rounded-3xl */
}
.card-content {
  flex: 1 1 0%;
  display: grid;
  align-content: center;
  gap: 2.5rem;
}

.card-content h2 {
  font-size: 2.25rem; /* text-4xl */
  line-height: 2.5rem;
}
.card-img-container {
  height: 100%;
  padding-top: 2.5rem;
  padding-bottom: 2.5rem;
}
@media (min-width: 768px) {
  .card-content h2 {
    font-size: 6rem; /* text-8xl */
    line-height: 1; /* Tailwind's default for 8xl */
  }
}
