.details-page{
  display: flex;
  justify-content:space-around;
}


@media (max-width: 600px) {
  .details-img-wrapper {
    height: 260px;
  }

  .details-title {
    font-size: 1.8rem;
  }

  .details-description {
    font-size: 1rem;
  }
}
