.footer {
  background: var(--background-surface);
  padding: 3rem 1.5rem 1rem;
  margin-top: 3rem;
  border-top: 2px solid var(--accent);
}

.footer-container {
  max-width: 1200px;
  margin: auto;
  display: grid;
  gap: 2rem;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}

/* العناوين */
.footer-title {
  font-family: Playfair;
  font-weight: 500;
  font-size: 4rem;
  margin-bottom: 1rem;
}

.footer-subtitle {
  margin-bottom: 1rem;
}

.footer-text {
  line-height: 1.6;
}

.footer-item {
  display: flex;
  align-items: center;
  gap: 0.7rem;
  margin-bottom: 0.7rem;
  font-size: 0.95rem;
}

.footer-icon {
  width: 20px;
  height: 20px;
}

.social-icons {
  display: flex;
  gap: 1rem;
}

.social-icons a svg {
  width: 28px;
  height: 28px;
  color: var(--primary);
  transition: 0.3s ease;
}

.social-icons a:hover svg {
  color: var(--accent);
  transform: scale(1.1);
}

.footer-bottom {
  text-align: center;

  margin-top: 2rem;
  padding-top: 1rem;
  font-size: 0.9rem;
  opacity: 0.8;
}

@media (max-width: 480px) {
  .footer {
    text-align: center;
  }

  .footer-item {
    justify-content: center;
  }

  .social-icons {
    justify-content: center;
  }
}
