.header-top {
  background-color: #111;
  font-size: 0.9rem;
  padding: 8px 0;
}

.header-top-container {
  max-width: 100dvw;
  margin: 0 auto;
  padding: 0 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.contact-info span,
a {
  margin-right: 15px;
  opacity: 0.85;
  text-decoration: none;
  transition: color 0.3s;
  color: var(--accent);
}

.top-links a {
  color: var(--accent);
  margin-left: 20px;
  text-decoration: none;
  transition: color 0.3s;
}

.top-links a:hover {
  color: var(--primary);
}
.contact-info span:hover,
.contact-info a:hover {
  color: var(--primary);
}
@media (max-width: 768px) {
  .header-top {
    display: none;
  }
}
