.hero-carousel {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.hero-carousel {
  position: relative;
}

.hero-logo {
  position: absolute;
  left: 35%;
  bottom: -119px;
  transform: translateX(-50%);
  width: 400px;
  z-index: 20;
  pointer-events: none;
}
@media (max-width: 768px) {
  .hero-logo {
    width: 300px; /* مناسب للموبايل */
    bottom: -70px; /* تعديل موقعه للداخل فوق الشكل */
    left: 15%; /* يبقى في المنتصف */
    transform: translateX(-50%);
  }
}

.hero-slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size:cover;
  background-position: center;
  opacity: 0;
  transition: opacity 1.5s ease-in-out;
}

.hero-slide.active {
  opacity: 1;
  z-index: 1;
}

.hero-overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
}

.hero-content {
  position: relative;
  z-index: 2;
  color: white;
  text-align: center;
  top: 50%;
  transform: translateY(-50%);
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  padding: 20px;
}

.hero-title {
  font-size: 3rem;
  margin-bottom: 1rem;
}

.hero-subtitle {
  font-size: 1.2rem;
  margin-bottom: 2rem;
}

.hero-btn {
  background: var(--primary-gradient);
  color: var(--background);
  font-weight: 600;
  border: none;
  padding: 0.8rem 2rem;
  font-size: 1rem;
  border-radius: 4px;
  cursor: pointer;
}

.hero-btn:hover {
  filter: brightness(1.1);
}

/* أزرار التنقل */
.prev,
.next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  color: white;
  font-size: 2rem;
  background: rgba(0, 0, 0, 0.4);
  border: none;
  padding: 10px 15px;
  cursor: pointer;
  z-index: 5;
  transition: background 0.3s;
}

.prev:hover,
.next:hover {
  background: rgba(0, 0, 0, 0.7);
}

.prev {
  left: 20px;
}

.next {
  right: 20px;
}

/* Responsiveness */
@media (max-width: 768px) {
  .hero-carousel {
    height: 70vh;
  }
  .hero-content {
    padding: 12px;
    max-width: 90%;
  }
  .hero-title {
    font-size: 1.8rem;
  }
  .hero-subtitle {
    font-size: 0.95rem;
  }
  .prev,
  .next {
    font-size: 1.5rem;
    padding: 6px 10px;
  }
  .indicators {
    bottom: 16px;
  }
}
/* وضع اللوغو في المنتصف تجارب*/
