.navbar {
  background-color: var(--background);
  max-height: 100vh;
  max-height: 100vh;
  border-bottom: 0.15rem solid var(--accent);
}

.nav-container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1%;
}

.logo {
  height: 3.8rem;
  width: 5rem;
  margin: 1rem;
}

.nav-menu {
  display: flex;
  margin-left: auto;
  list-style: none;
  gap: 2rem;
}

.nav-menu button {
  background: none;
  border: none;
  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  border-radius: 5px;
  font-weight: 500;
}
.nav-menu li button:active {
  color: var(--primary);
}
.nav-menu li button:hover {
  color: var(--accent);
}

@media (max-width: 768px) {
  .nav-container {
    padding: 0 12px;
    flex-wrap: wrap;
    row-gap: 8px;
  }

  .nav-menu {
    gap: 0.75rem;
    flex-wrap: wrap;
  }
  .nav-menu button {
    font-size: 0.95rem;
    padding: 0.4rem 0.75rem;
  }
}
