.navbar {
  max-height: 100vh;
  max-height: 100vh;
  position: inherit;
  top: 0;
}

.nav-container {
  margin: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo h1 {
  color: #fff;
  font-size: 1.8rem;
  font-weight: 700;
  letter-spacing: 1px;
}

.logo-img {
  height: 5rem;
  width: 5rem;
}

.nav-menu {
  display: flex;
  margin-left: auto;
  list-style: none;
  gap: 2rem;
}

.nav-menu button {
  background: none;
  border: none;

  font-size: 1.1rem;
  cursor: pointer;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  border-radius: 5px;
  font-weight: 500;
}
