.product-card{
 height: 20rem;
 width: 20rem;
 border-radius: 1rem;
 box-shadow: 0 0 1rem rgba(0, 0, 0, 0.1);
 overflow: hidden;
}
.product-card img{
    width: 100%;
    height: 100%;
    border-radius: 1rem;
    object-fit: cover;
}
.product-card-content{
    height: 10rem;
    width: 20rem;
    box-sizing: border-box;
    position: absolute;
 
}
