/* Flip */
.flip-container1 {
  /* display: block;
  place-items: center; */
  flex-direction: column;
  width: 100%;
}
.flip-card1 {
  width: 85dvw;
  height: 100dvh;
  background-color: var(--secondary);
  border-radius: 10px;
  margin-top: 5rem;
}
