/* Flip */
.flip-container1 {
  display: block;
  place-items: center;
}
.flip-card1 {
  width: 85dvw;
  height: 100dvh;
  background-color: var(--secondary);
  border-radius: 10px;
  margin-top: 5rem;
}
