section {
  padding: 60px 20px;
}

/* Flip */
.flip-container1 {
  display: block;
  place-items: center;
}
.flip-card1 {
  width: 85dvw;
  height: 100dvh;
  background-color: rgb(219, 216, 5);
  border-radius: 10px;
  margin-top: 5rem;
}
.flip-card1 p {
  font-size: x-large;
}
