/* Flip */
.flip-container1 {
  display: flex;
  flex-direction: column;
}
.flip-card1 {
  width: 85dvw;
  height: 100dvh;
  background-color: var(--secondary);
  border-radius: 10px;
  margin-top: 3rem;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid var(--accent);
  box-shadow: 0 0 10px var(--accent);
}
