@import "tailwindcss";

body {
  margin: 0;
  padding: 0;

  font-family: "Inter";
  font-weight: 400;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Poppins";
}

html {
  font-size: 85%;
}

h1 {
  font-size: 4.21rem; /* 67.36px */
  font-weight: 700;
  color: var(--primary);
}

h2 {
  font-size: 3.158rem; /* 50.56px */
  font-weight: 700;
  color: var(--primary);
}

h3 {
  font-size: 2.369rem; /* 37.92px */
  font-weight: 600;
  color: var(--primary);
}

h4 {
  font-size: 1.777rem; /* 28.48px */
  font-weight: 600;
  color: var(--secondary);
}

h5 {
  font-size: 1.333rem; /* 21.28px */
  font-weight: 600;
  color: var(--secondary);
}

small {
  font-size: 0.75rem; /* 12px */
}
:root {
  line-height: 1.2;

  color: var(--text);
  background-color: var(--background);
  --text: hsl(0, 0%, 12%);
  --background: hsl(0, 0%, 97%);
  --primary: hsl(47, 52%, 47%);
  --secondary: hsl(0, 0%, 70%);
  --accent: hsl(46, 33%, 70%);
  --heading-small: hsl(46, 20%, 40%);
  --icon: hsl(47, 40%, 45%);
}

/* Main Content */
.main-content {
  min-height: calc(100vh - 200px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-container {
    gap: 1rem;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-hero h1 {
    font-size: 2rem;
  }
  html,
  body {
    overflow-x: hidden;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}

@media (max-width: 768px) {
  p,
  h1,
  h2,
  h3,
  h4 {
    word-wrap: break-word !important;
    overflow-wrap: break-word;
    hyphens: auto;
  }
}

img {
  max-width: 100%;
  height: auto;
}

@font-face {
  font-family: Poppins;
  src: url(/public/Fonts/Poppins-Bold.woff2) format("woff2");
  font-weight: 700;
}

@font-face {
  font-family: Poppins;
  src: url(/public/Fonts/Poppins-SemiBold.woff2) format("woff2");
  font-weight: 600;
}
@font-face {
  font-family: Poppins;
  src: url(/public/Fonts/Poppins-Regular.woff2) format("woff2");
  font-weight: 400;
}
@font-face {
  font-family: Inter;
  src: url(/public/Fonts/Inter-VariableFont_opsz\,wght.woff2) format("woff2");
  font-weight: 1 999;
}
@font-face {
  font-family: Playfair;
  src: url(/public/Fonts/Playfair_144pt_SemiCondensed-Medium.woff2)
    format("woff2");
  font-weight: 500;
}
