@import "tailwindcss";
@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400&family=Lato:wght@700;600;500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Inter";
  font-weight: 400;
}

body {
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Lato";
}

html {
  font-size: 100%;
} /* 16px */

h1 {
  font-size: 4.21rem; /* 67.36px */
  font-weight: 700;
  color: var(--primary);
}

h2 {
  font-size: 3.158rem; /* 50.56px */
  font-weight: 600;
  color: var(--primary);
}

h3 {
  font-size: 2.369rem; /* 37.92px */
  font-weight: 500;
}

h4 {
  font-size: 1.777rem; /* 28.48px */
}

h5 {
  font-size: 1.333rem; /* 21.28px */
}

small {
  font-size: 0.75rem; /* 12px */
}
:root {
  line-height: 1.6;
  font-weight: 400;
  color: var(--text);
  background-color: var(--background);
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  --text: #1e1e1e;
  --background: #f7f7f7;
  --primary: #b89c3a;
  --secondary: #e6e6e6;
  --accent: #d8cfb2;
}

/* Main Content */
.main-content {
  min-height: calc(100vh - 200px);
}

/* Responsive Design */
@media (max-width: 768px) {
  .nav-container {
    gap: 1rem;
  }

  .hero-content h1 {
    font-size: 2.5rem;
  }

  .hero-subtitle {
    font-size: 1.2rem;
  }

  .contact-container {
    grid-template-columns: 1fr;
  }

  .contact-hero h1 {
    font-size: 2rem;
  }
  html,
  body {
    overflow-x: hidden;
  }
  img {
    max-width: 100%;
    height: auto;
  }
}
